In [2]:
import numpy as np
import pandas as pd

In [3]:
df_main = pd.read_csv('mental-health-in-tech-survey.csv', na_values='NaN')
df_main

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [99]:
not_correc_age = df_main[(df_main.Age >150) | (df_main.Age < 0)]
not_correc_age

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
143,2014-08-27 12:39:14,-29,Male,United States,MN,No,No,No,NaN,More than 1000,...,Don't know,No,No,Some of them,Yes,No,No,Don't know,No,NaN
364,2014-08-27 15:05:21,329,Male,United States,OH,No,No,Yes,Often,6-25,...,Don't know,Maybe,No,Some of them,No,No,No,No,No,NaN
390,2014-08-27 15:24:47,99999999999,All,Zimbabwe,NaN,Yes,Yes,Yes,Often,1-5,...,Very difficult,Yes,Yes,No,No,Yes,No,No,Yes,NaN
715,2014-08-28 10:07:53,-1726,male,United Kingdom,NaN,No,No,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,No,No,No,No,Maybe,Don't know,No,NaN
1127,2014-08-30 20:55:11,-1,p,United States,AL,Yes,Yes,Yes,Often,1-5,...,Very easy,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,password: testered

In [11]:
correc_age = df_main[(df_main.Age <=150) & (df_main.Age >= 0)]
len(correc_age)

1254

In [5]:
age10 = correc_age[(correc_age.Age <10) & (correc_age.Age >= 0)]
age20 = correc_age[(correc_age.Age <20) & (correc_age.Age >= 10)]
age30 = correc_age[(correc_age.Age <30) & (correc_age.Age >= 20)]
age40 = correc_age[(correc_age.Age <40) & (correc_age.Age >= 30)]
age50 = correc_age[(correc_age.Age <50) & (correc_age.Age >= 40)]
age60 = correc_age[(correc_age.Age <60) & (correc_age.Age >= 50)]
age70 = correc_age[(correc_age.Age <70) & (correc_age.Age >= 60)]
age80 = correc_age[(correc_age.Age <80) & (correc_age.Age >= 70)]
print(len(age10), len(age20), len(age30), len(age40), len(age50), len(age60), len(age70), len(age80)  )

2 17 500 554 149 26 5 1

In [6]:
age10n = correc_age[(correc_age.Age <10) & (correc_age.Age >= 0) & (correc_age.treatment == 'No')]
age20n = correc_age[(correc_age.Age <20) & (correc_age.Age >= 10)& (correc_age.treatment == 'No')]
age30n = correc_age[(correc_age.Age <30) & (correc_age.Age >= 20)& (correc_age.treatment == 'No')]
age40n = correc_age[(correc_age.Age <40) & (correc_age.Age >= 30)& (correc_age.treatment == 'No')]
age50n = correc_age[(correc_age.Age <50) & (correc_age.Age >= 40)& (correc_age.treatment == 'No')]
age60n = correc_age[(correc_age.Age <60) & (correc_age.Age >= 50)& (correc_age.treatment == 'No')]
age70n = correc_age[(correc_age.Age <70) & (correc_age.Age >= 60)& (correc_age.treatment == 'No')]
age80n = correc_age[(correc_age.Age <80) & (correc_age.Age >= 70)& (correc_age.treatment == 'No')]

print(len(age10n), len(age20n), len(age30n), len(age40n), len(age50n), len(age60n), len(age70n), len(age80n)  )

1 10 265 269 62 11 3 0

In [7]:
age10y = correc_age[(correc_age.Age <10) & (correc_age.Age >= 0) & (correc_age.treatment == 'Yes')]
age20y = correc_age[(correc_age.Age <20) & (correc_age.Age >= 10)& (correc_age.treatment == 'Yes')]
age30y = correc_age[(correc_age.Age <30) & (correc_age.Age >= 20)& (correc_age.treatment == 'Yes')]
age40y = correc_age[(correc_age.Age <40) & (correc_age.Age >= 30)& (correc_age.treatment == 'Yes')]
age50y = correc_age[(correc_age.Age <50) & (correc_age.Age >= 40)& (correc_age.treatment == 'Yes')]
age60y = correc_age[(correc_age.Age <60) & (correc_age.Age >= 50)& (correc_age.treatment == 'Yes')]
age70y = correc_age[(correc_age.Age <70) & (correc_age.Age >= 60)& (correc_age.treatment == 'Yes')]
age80y = correc_age[(correc_age.Age <80) & (correc_age.Age >= 70)& (correc_age.treatment == 'Yes')]


print(len(age10y), len(age20y), len(age30y), len(age40y), len(age50y), len(age60y), len(age70y), len(age80y)  )

1 7 235 285 87 15 2 1

In [8]:
age20y = correc_age[(correc_age.Age <20) & (correc_age.Age >= 0) & (correc_age.mental_health_consequence == 'Yes')]
age40y = correc_age[(correc_age.Age <40) & (correc_age.Age >= 20)& (correc_age.mental_health_consequence == 'Yes')]
age60y = correc_age[(correc_age.Age <60) & (correc_age.Age >= 40)& (correc_age.mental_health_consequence == 'Yes')]
age80y = correc_age[(correc_age.Age <80) & (correc_age.Age >= 60)& (correc_age.mental_health_consequence == 'Yes')]

print(len(age20y),len(age40y), len(age60y), len(age80y) )

6 233 49 1

In [9]:
age20n = correc_age[(correc_age.Age <20) & (correc_age.Age >= 0) & (correc_age.mental_health_consequence == 'No')]
age40n = correc_age[(correc_age.Age <40) & (correc_age.Age >= 20)& (correc_age.mental_health_consequence == 'No')]
age60n = correc_age[(correc_age.Age <60) & (correc_age.Age >= 40)& (correc_age.mental_health_consequence == 'No')]
age80n = correc_age[(correc_age.Age <80) & (correc_age.Age >= 60)& (correc_age.mental_health_consequence == 'No')]

print(len(age20n),len(age40n), len(age60n), len(age80n) )

9 423 56 1

In [10]:
age20m = correc_age[(correc_age.Age <20) & (correc_age.Age >= 0) & (correc_age.mental_health_consequence == 'Maybe')]
age40m = correc_age[(correc_age.Age <40) & (correc_age.Age >= 20)& (correc_age.mental_health_consequence == 'Maybe')]
age60m = correc_age[(correc_age.Age <60) & (correc_age.Age >= 40)& (correc_age.mental_health_consequence == 'Maybe')]
age80m = correc_age[(correc_age.Age <80) & (correc_age.Age >= 60)& (correc_age.mental_health_consequence == 'Maybe')]

print(len(age20m),len(age40m), len(age60m), len(age80m) )

4 398 70 4

In [12]:
###physical health consequence
age20y = correc_age[(correc_age.Age <20) & (correc_age.Age >= 0) & (correc_age.phys_health_consequence == 'Yes')]
age40y = correc_age[(correc_age.Age <40) & (correc_age.Age >= 20)& (correc_age.phys_health_consequence == 'Yes')]
age60y = correc_age[(correc_age.Age <60) & (correc_age.Age >= 40)& (correc_age.phys_health_consequence == 'Yes')]
age80y = correc_age[(correc_age.Age <80) & (correc_age.Age >= 60)& (correc_age.phys_health_consequence == 'Yes')]

print(len(age20y),len(age40y), len(age60y), len(age80y) )

2 46 11 0

In [13]:
age20n = correc_age[(correc_age.Age <20) & (correc_age.Age >= 0) & (correc_age.phys_health_consequence == 'No')]
age40n = correc_age[(correc_age.Age <40) & (correc_age.Age >= 20)& (correc_age.phys_health_consequence == 'No')]
age60n = correc_age[(correc_age.Age <60) & (correc_age.Age >= 40)& (correc_age.phys_health_consequence == 'No')]
age80n = correc_age[(correc_age.Age <80) & (correc_age.Age >= 60)& (correc_age.phys_health_consequence == 'No')]

print(len(age20n),len(age40n), len(age60n), len(age80n) )

13 791 115 3

In [14]:
age20m = correc_age[(correc_age.Age <20) & (correc_age.Age >= 0) & (correc_age.phys_health_consequence == 'Maybe')]
age40m = correc_age[(correc_age.Age <40) & (correc_age.Age >= 20)& (correc_age.phys_health_consequence == 'Maybe')]
age60m = correc_age[(correc_age.Age <60) & (correc_age.Age >= 40)& (correc_age.phys_health_consequence == 'Maybe')]
age80m = correc_age[(correc_age.Age <80) & (correc_age.Age >= 60)& (correc_age.phys_health_consequence == 'Maybe')]

print(len(age20m),len(age40m), len(age60m), len(age80m) )

4 217 49 3

In [15]:
male_pop = male_pop = df_main[(df_main.Gender.str.lower() == "male") | (df_main.Gender.str.lower() == "m") | (df_main.Gender.str.lower() == "maile") | (df_main.Gender.str.lower() == "mal")|  (df_main.Gender.str.lower() == "mal ")| (df_main.Gender.str.lower() == "man") | (df_main.Gender.str.lower() == "msle")| (df_main.Gender.str.lower() == "mail") | (df_main.Gender.str.lower() == "malr")]
male_pop

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2015-08-25 19:59:38,36,Male,United States,UT,No,Yes,No,Rarely,More than 1000,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,NaN
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [17]:
len(male_pop[male_pop.treatment == "Yes"]), len(male_pop[male_pop.treatment == "No"])

(441, 537)

In [16]:
female_pop = df_main[(df_main.Gender.str.lower() == "female") | (df_main.Gender.str.lower() == "f") | (df_main.Gender.str.lower() == "woman") | (df_main.Gender.str.lower() == "femake")| (df_main.Gender.str.lower() == "femail")]
female_pop

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
8,2014-08-27 11:32:39,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,...,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
12,2014-08-27 11:33:23,42,female,United States,CA,NaN,Yes,Yes,Sometimes,26-100,...,Somewhat difficult,Yes,Yes,Yes,Yes,Maybe,Maybe,No,Yes,NaN
15,2014-08-27 11:34:00,29,female,United States,IL,NaN,Yes,Yes,Rarely,26-100,...,Somewhat easy,No,No,Yes,Some of them,Maybe,Maybe,Don't know,No,I have chronic low-level neurological issues t...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1230,2015-02-24 08:54:35,23,Female,United Kingdom,NaN,No,Yes,Yes,Sometimes,6-25,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN
1243,2015-05-05 14:22:18,43,f,United States,FL,No,Yes,Yes,Rarely,More than 1000,...,Don't know,No,No,Some of them,Yes,No,No,Don't know,No,NaN
1244,2015-05-05 15:16:25,32,female,United Kingdom,NaN,No,No,No,NaN,More than 1000,...,Don't know,Maybe,No,Some of them,Yes,No,Yes,No,No,NaN
1248,2015-06-25 12:24:31,41,Female,United States,WA,No,Yes,Yes,Sometimes,26-100,...,Don't know,Yes,Maybe,No,No,No,No,Don't know,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN

In [18]:
len(female_pop[female_pop.treatment == "Yes"]), len(female_pop[female_pop.treatment == "No"])

(167, 75)

In [19]:
len(male_pop[male_pop.treatment == "Yes"]), len(male_pop[male_pop.treatment == "No"])

(441, 537)

In [25]:
len(female_pop[female_pop.mental_health_consequence == "Yes"]), len(female_pop[female_pop.mental_health_consequence == "No"]), len(female_pop[female_pop.mental_health_consequence == "Maybe"])

(64, 72, 106)

In [26]:
len(male_pop[male_pop.mental_health_consequence == "Yes"]), len(male_pop[male_pop.mental_health_consequence == "No"]) , len(male_pop[male_pop.mental_health_consequence == "Maybe"])

(210, 412, 356)

In [30]:
len(female_pop[female_pop.phys_health_consequence == "Yes"]), len(female_pop[female_pop.phys_health_consequence == "No"]), len(female_pop[female_pop.phys_health_consequence == "Maybe"])

(15, 162, 65)

In [31]:
len(male_pop[male_pop.phys_health_consequence == "Yes"]), len(male_pop[male_pop.phys_health_consequence == "No"]) , len(male_pop[male_pop.phys_health_consequence == "Maybe"])

(41, 745, 192)

In [32]:
df_main.Country.unique()

array(['United States', 'Canada', 'United Kingdom', 'Bulgaria', 'France',
       'Portugal', 'Netherlands', 'Switzerland', 'Poland', 'Australia',
       'Germany', 'Russia', 'Mexico', 'Brazil', 'Slovenia', 'Costa Rica',
       'Austria', 'Ireland', 'India', 'South Africa', 'Italy', 'Sweden',
       'Colombia', 'Latvia', 'Romania', 'Belgium', 'New Zealand',
       'Zimbabwe', 'Spain', 'Finland', 'Uruguay', 'Israel',
       'Bosnia and Herzegovina', 'Hungary', 'Singapore', 'Japan',
       'Nigeria', 'Croatia', 'Norway', 'Thailand', 'Denmark',
       'Bahamas, The', 'Greece', 'Moldova', 'Georgia', 'China',
       'Czech Republic', 'Philippines'], dtype=object)

In [46]:
us = df_main[df_main.Country == "United States"]
uk = df_main[df_main.Country == "United Kingdom"]
canada = df_main[df_main.Country == "Canada"]
others = df_main[(df_main.Country != "United States") & (df_main.Country != "Canada") & (df_main.Country != "United Kingdom")]
len(us) + len(uk) + len(canada) + len(others), len(df_main)

(1259, 1259)

In [50]:
us_treatment_y = us[us.treatment == "Yes"]
us_treatment_n = us[us.treatment == "No"]
len(us_treatment_y), len(us_treatment_n)

(410, 341)

In [51]:
uk_treatment_y = uk[uk.treatment == "Yes"]
uk_treatment_n = uk[uk.treatment == "No"]
len(uk_treatment_y), len(uk_treatment_n)

(93, 92)

In [52]:
c_treatment_y = canada[canada.treatment == "Yes"]
c_treatment_n = canada[canada.treatment == "No"]
len(c_treatment_y), len(c_treatment_n)

(37, 35)

In [53]:
o_treatment_y = others[others.treatment == "Yes"]
o_treatment_n = others[others.treatment == "No"]
len(o_treatment_y), len(o_treatment_n)

(97, 154)

In [54]:
us = df_main[df_main.Country == "United States"]
uk = df_main[df_main.Country == "United Kingdom"]
c = df_main[df_main.Country == "Canada"]
o = df_main[(df_main.Country != "United States") & (df_main.Country != "Canada") & (df_main.Country != "United Kingdom")]
len(us) + len(uk) + len(c) + len(o), len(df_main)

(1259, 1259)

In [55]:
us_ment_y = us[us.mental_health_consequence == "Yes"]
us_ment_n = us[us.mental_health_consequence == "No"]
us_ment_m = us[us.mental_health_consequence == "Maybe"]
len(us_ment_y), len(us_ment_n),len(us_ment_m)

(171, 280, 300)

In [56]:
uk_ment_y = uk[uk.mental_health_consequence == "Yes"]
uk_ment_n = uk[uk.mental_health_consequence == "No"]
uk_ment_m = uk[uk.mental_health_consequence == "Maybe"]
len(uk_ment_y), len(uk_ment_n),len(uk_ment_m)

(43, 69, 73)

In [57]:
c_ment_y = c[c.mental_health_consequence == "Yes"]
c_ment_n = c[c.mental_health_consequence == "No"]
c_ment_m = c[c.mental_health_consequence == "Maybe"]
len(c_ment_y), len(c_ment_n),len(c_ment_m)

(16, 31, 25)

In [58]:
o_ment_y = o[o.mental_health_consequence == "Yes"]
o_ment_n = o[o.mental_health_consequence == "No"]
o_ment_m = o[o.mental_health_consequence == "Maybe"]
len(o_ment_y), len(o_ment_n),len(o_ment_m)

(62, 110, 79)

In [60]:
#####
us_phy_y = us[us.phys_health_consequence == "Yes"]
us_phy_n = us[us.phys_health_consequence == "No"]
us_phy_m = us[us.phys_health_consequence == "Maybe"]
len(us_phy_y), len(us_phy_n),len(us_phy_m)

(30, 571, 150)

In [61]:
uk_phy_y = uk[uk.phys_health_consequence == "Yes"]
uk_phy_n = uk[uk.phys_health_consequence == "No"]
uk_phy_m = uk[uk.phys_health_consequence == "Maybe"]
len(uk_phy_y), len(uk_phy_n),len(uk_phy_m)

(10, 121, 54)

In [62]:
canada_phy_y = canada[canada.phys_health_consequence == "Yes"]
canada_phy_n = canada[canada.phys_health_consequence == "No"]
canada_phy_m = canada[canada.phys_health_consequence == "Maybe"]
len(canada_phy_y), len(canada_phy_n),len(canada_phy_m)

(2, 56, 14)

In [63]:
others_phy_y = others[others.phys_health_consequence == "Yes"]
others_phy_n = others[others.phys_health_consequence == "No"]
others_phy_m = others[others.phys_health_consequence == "Maybe"]
len(others_phy_y), len(others_phy_n),len(others_phy_m)

(19, 177, 55)

In [59]:
df_main.Country.value_counts()

United States             751
United Kingdom            185
Canada                     72
Germany                    45
Netherlands                27
Ireland                    27
Australia                  21
France                     13
India                      10
New Zealand                 8
Italy                       7
Switzerland                 7
Sweden                      7
Poland                      7
South Africa                6
Belgium                     6
Brazil                      6
Israel                      5
Bulgaria                    4
Singapore                   4
Austria                     3
Finland                     3
Mexico                      3
Russia                      3
Colombia                    2
Portugal                    2
Greece                      2
Croatia                     2
Denmark                     2
Uruguay                     1
Thailand                    1
Bahamas, The                1
Hungary                     1
Czech Republic              1
Slovenia                    1
Costa Rica                  1
Georgia                     1
Japan                       1
Norway                      1
Nigeria                     1
Romania                     1
Bosnia and Herzegovina      1
Spain                       1
Moldova                     1
Zimbabwe                    1
Latvia                      1
China                       1
Philippines                 1
Name: Country, dtype: int64

In [65]:
## famil his and treatment
fam_y = df_main[df_main.family_history == "Yes"]
fam_n = df_main[df_main.family_history == "No"]

In [66]:
fam_hy_yt = fam_y[fam_y.treatment == "Yes"]
fam_hy_nt = fam_y[fam_y.treatment == "No"]
len(fam_hy_yt), len(fam_hy_nt)

(365, 127)

In [67]:
fam_hn_yt = fam_n[fam_n.treatment == "Yes"]
fam_hn_nt = fam_n[fam_n.treatment == "No"]
len(fam_hn_yt), len(fam_hn_nt)

(272, 495)

In [68]:
fam_ment_y = fam_y[fam_y.mental_health_consequence == "Yes"]
fam_ment_n = fam_y[fam_y.mental_health_consequence == "No"]
fam_ment_m = fam_y[fam_y.mental_health_consequence == "Maybe"]
len(fam_ment_y) , len(fam_ment_n), len(fam_ment_m)

(134, 165, 193)

In [69]:
fam_ment_y = fam_n[fam_n.mental_health_consequence == "Yes"]
fam_ment_n = fam_n[fam_n.mental_health_consequence == "No"]
fam_ment_m = fam_n[fam_n.mental_health_consequence == "Maybe"]
len(fam_ment_y) , len(fam_ment_n), len(fam_ment_m)

(158, 325, 284)

In [76]:
fam_phy_y = fam_y[fam_y.phys_health_consequence == "Yes"]
fam_phy_n = fam_y[fam_y.phys_health_consequence == "No"]
fam_phy_m = fam_y[fam_y.phys_health_consequence == "Maybe"]
len(fam_phy_y) , len(fam_phy_n), len(fam_phy_m)

(31, 348, 113)

In [77]:
fam_phy_y = fam_n[fam_n.phys_health_consequence == "Yes"]
fam_phy_n = fam_n[fam_n.phys_health_consequence == "No"]
fam_phy_m = fam_n[fam_n.phys_health_consequence == "Maybe"]
len(fam_phy_y) , len(fam_phy_n), len(fam_phy_m)

(30, 577, 160)

In [78]:
len(fam_phy_y) + len(fam_phy_n)+ len(fam_phy_m) + len(fam_phy_y) +  len(fam_phy_n) + len(fam_phy_m)

1534

In [79]:
#66
correc_age = df_main[(df_main.Age <=150) & (df_main.Age >= 0)]
correc_age

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [85]:
correc_age_sam = correc_age.sample(n=627)
correc_age_sam

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
689,2014-08-28 09:54:21,27,f,United Kingdom,NaN,No,No,Yes,Sometimes,6-25,...,Very easy,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN
462,2014-08-27 16:01:52,28,Make,United States,UT,No,No,No,Sometimes,6-25,...,Somewhat easy,Yes,Maybe,Some of them,No,No,No,Don't know,No,NaN
883,2014-08-28 17:23:19,36,male,United States,VA,Yes,No,No,Never,1-5,...,Somewhat difficult,No,No,Some of them,Yes,Yes,Yes,Yes,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
178,2014-08-27 12:51:25,45,F,United States,CA,No,No,Yes,Sometimes,1-5,...,Somewhat difficult,No,No,Yes,Yes,No,No,Yes,No,In small startups it is very hard to keep ment...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,2014-08-28 19:04:05,30,Male,United States,PA,Yes,No,No,Never,1-5,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,Maybe,Maybe,Don't know,No,NaN
74,2014-08-27 11:56:29,33,Male,United States,CA,No,No,No,Never,More than 1000,...,Don't know,Maybe,No,Some of them,Some of them,No,Maybe,Yes,No,NaN
673,2014-08-28 08:00:40,26,female,Israel,NaN,No,Yes,No,Never,100-500,...,Don't know,Maybe,No,Some of them,No,No,No,Yes,No,NaN
48,2014-08-27 11:43:56,26,m,Canada,NaN,Yes,No,No,Sometimes,1-5,...,Don't know,No,No,Yes,Yes,No,No,Yes,No,NaN
1216,2015-02-21 09:30:14,27,Male,United Kingdom,NaN,No,No,No,Rarely,More than 1000,...,Don't know,No,No,Some of them,Yes,No,No,Don't know,No,NaN

In [86]:
age20y = correc_age_sam[(correc_age_sam.Age <20) & (correc_age_sam.Age >= 0) & (correc_age_sam.mental_health_consequence == 'Yes')]
age40y = correc_age_sam[(correc_age_sam.Age <40) & (correc_age_sam.Age >= 20)& (correc_age_sam.mental_health_consequence == 'Yes')]
age60y = correc_age_sam[(correc_age_sam.Age <60) & (correc_age_sam.Age >= 40)& (correc_age_sam.mental_health_consequence == 'Yes')]
age80y = correc_age_sam[(correc_age_sam.Age <80) & (correc_age_sam.Age >= 60)& (correc_age_sam.mental_health_consequence == 'Yes')]

print(len(age20y),len(age40y), len(age60y), len(age80y) )

2 122 24 1

In [87]:
age20n = correc_age_sam[(correc_age_sam.Age <20) & (correc_age_sam.Age >= 0) & (correc_age_sam.mental_health_consequence == 'No')]
age40n = correc_age_sam[(correc_age_sam.Age <40) & (correc_age_sam.Age >= 20)& (correc_age_sam.mental_health_consequence == 'No')]
age60n = correc_age_sam[(correc_age_sam.Age <60) & (correc_age_sam.Age >= 40)& (correc_age_sam.mental_health_consequence == 'No')]
age80n = correc_age_sam[(correc_age_sam.Age <80) & (correc_age_sam.Age >= 60)& (correc_age_sam.mental_health_consequence == 'No')]

print(len(age20n),len(age40n), len(age60n), len(age80n) )

6 200 29 1

In [88]:
age20m = correc_age_sam[(correc_age_sam.Age <20) & (correc_age_sam.Age >= 0) & (correc_age_sam.mental_health_consequence == 'Maybe')]
age40m = correc_age_sam[(correc_age_sam.Age <40) & (correc_age_sam.Age >= 20)& (correc_age_sam.mental_health_consequence == 'Maybe')]
age60m = correc_age_sam[(correc_age_sam.Age <60) & (correc_age_sam.Age >= 40)& (correc_age_sam.mental_health_consequence == 'Maybe')]
age80m = correc_age_sam[(correc_age_sam.Age <80) & (correc_age_sam.Age >= 60)& (correc_age_sam.mental_health_consequence == 'Maybe')]

print(len(age20m),len(age40m), len(age60m), len(age80m) )

3 206 32 1

In [91]:
tage20y = correc_age_sam[(correc_age_sam.Age <20) & (correc_age_sam.Age >= 0) & (correc_age_sam.treatment == 'Yes')]
tage40y = correc_age_sam[(correc_age_sam.Age <40) & (correc_age_sam.Age >= 20)& (correc_age_sam.treatment == 'Yes')]
tage60y = correc_age_sam[(correc_age_sam.Age <60) & (correc_age_sam.Age >= 40)& (correc_age_sam.treatment == 'Yes')]
tage80y = correc_age_sam[(correc_age_sam.Age <80) & (correc_age_sam.Age >= 60)& (correc_age_sam.treatment == 'Yes')]

print(len(tage20y),len(tage40y), len(tage60y), len(tage80y) )

4 274 56 1

In [92]:
tnage20y = correc_age_sam[(correc_age_sam.Age <20) & (correc_age_sam.Age >= 0) & (correc_age_sam.treatment == 'No')]
tnage40y = correc_age_sam[(correc_age_sam.Age <40) & (correc_age_sam.Age >= 20)& (correc_age_sam.treatment == 'No')]
tnage60y = correc_age_sam[(correc_age_sam.Age <60) & (correc_age_sam.Age >= 40)& (correc_age_sam.treatment == 'No')]
tnage80y = correc_age_sam[(correc_age_sam.Age <80) & (correc_age_sam.Age >= 60)& (correc_age_sam.treatment == 'No')]

print(len(tnage20y),len(tnage40y), len(tnage60y), len(tnage80y) )

7 254 29 2

In [95]:
len(df_main.columns), len(df_main)

(27, 1259)

In [96]:
correc_age

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN