Q2) List the Collection Data Types in Python. Write Python code to solve the
following questions:

a) Place the numbers 79, 88, 99, ‘John’, ’Mary’, ’David’ into a tuple – ‘T’ and list – ‘L’ respectively, and print the contents and data type of two objects. In addition, state the difference (by usage) between tuple and list.

In [4]:
T = (79, 88, 99, 'John', 'Mary', 'David')
L = list(T)
print("T == ", T , "and its data type == ", type(T))
print("L == ", L , "and its data type == ", type(L))

T ==  (79, 88, 99, 'John', 'Mary', 'David') and its data type ==  <class 'tuple'>
L ==  [79, 88, 99, 'John', 'Mary', 'David'] and its data type ==  <class 'list'>

b) Return the length of the list ‘L’ and print the result. What does L[1:3] stand for?

In [5]:
print(len(T))
print(L[1:3]) #should print  88 and 99

6
[88, 99]

c) Create a sub-list ‘SL’ containing only numeric elements from the tuple ‘T, and
calculate and print the maximum value of those numbers.

In [19]:
SL = [i for i in T if isinstance(i,(int,float))]
SL

[79, 88, 99]

In [20]:
print(max(SL))

99

d) Create a list ‘SLS’ by sorting (descending order) the elements in the list ‘SL’.

In [21]:
SLS = sorted(SL, reverse=True)
SLS

[99, 88, 79]

e) Write Python codes to create the following list
[“John’s mark is 79”, “David’s mark is 99”, “Mary’s mark is 88”]

In [53]:
L = [ "John's mark is 79", "David's mark is 99", "Mary's mark is 88"]
L

["John's mark is 79", "David's mark is 99", "Mary's mark is 88"]

f) Perform the following operations on the list object ‘L’
(1) Change the value from 99 to 90 and from ‘David’ to ‘Minko’.

In [54]:
L[1] = L[1].replace('David', 'Minko')
L[1] = L[1].replace('99', '90')
L

["John's mark is 79", "Minko's mark is 90", "Mary's mark is 88"]

(2) Delete the element 79 and ‘John’.

In [55]:
L[0] = L[0].replace('79', '')
L[0] = L[0].replace('John', '')
L

["'s mark is ", "Minko's mark is 90", "Mary's mark is 88"]


(3) Insert a new element 92 at the first position and ‘Lucy’ at the fourth position in
the list after the operation in (2).

In [56]:
L.insert(0,'92')
L.append('Lucy')
L

['92', "'s mark is ", "Minko's mark is 90", "Mary's mark is 88", 'Lucy']

(4) Show (print and state) the difference between L.insert (2, [77, 78]) and
L.extend(2, [77, 78]).

In [59]:
L_insert = L[:]
L_insert.insert(2, [77, 78])
print(L_insert)

['92', "'s mark is ", [77, 78], "Minko's mark is 90", "Mary's mark is 88", 'Lucy']

In [61]:
L_extend = L[:]
L_extend.extend((2, [77, 78]))
L_extend

['92',
 "'s mark is ",
 "Minko's mark is 90",
 "Mary's mark is 88",
 'Lucy',
 2,
 [77, 78]]

(5) Can we perform the same operations on the tuple ‘T’? Why?
Ans --> No becasue tuple are immutable

g) What is the difference (in usage) between Y=L.copy() and Z=L? Please counter
an example.
Ans --> Copies the list with copy function, Z=L copies the refrences

In [2]:
print()

In [1]:
print()