In [ ]:
import numpy as np
import pandas as pd

In [116]:
df = pd.read_csv("carprice.csv", na_values="NA")
df

,car_id,price,Kilometers,hp,Brand,Sport,age,Users,gas,Metalilic,CC,Weight,QuartTax,Automatic,red,Owner_gender,door
0,3548,48750,NaN,110,6,YES,7,1,590.0,NO,1800,1170.0,100,YES,NO,M,4
1,903,16610,NaN,110,3,NO,8,1,391.0,YES,2200,1250.0,270,YES,NO,F,4
2,3903,27100,3040.0,110,2,YES,8,1,478.0,NO,1900,1186.0,120,YES,YES,M,4
3,5098,24240,4690.0,110,5,NO,8,1,NaN,NO,1800,1170.0,100,YES,NO,M,4
4,3364,13030,5820.0,110,5,NO,9,1,NaN,YES,2200,1250.0,80,NO,NO,F,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5234,2639,12370,201740.0,110,2,NO,48,1,369.0,NO,1900,1186.0,160,YES,NO,M,4
5235,459,6660,219720.0,192,1,NO,48,1,366.0,NO,1900,1186.0,120,NO,NO,M,4
5236,1545,12660,247010.0,110,3,NO,48,1,342.0,NO,1800,1170.0,120,YES,NO,F,4
5237,3125,11930,213740.0,70,2,NO,51,1,297.0,NO,1900,1186.0,120,YES,NO,M,4
5238,3124,5670,198110.0,192,1,NO,52,3,360.0,NO,1600,1165.0,100,NO,NO,F,2

In [124]:
df[(df['Metalilic'] == "YES") & (df['Sport'] == "YES") & (df.Automatic == "YES") & (df.red == "YES")]

,car_id,price,Kilometers,hp,Brand,Sport,age,Users,gas,Metalilic,CC,Weight,QuartTax,Automatic,red,Owner_gender,door
32,4355,52440,23580.0,192,3,YES,13,1,516.0,YES,2200,1250.0,80,YES,YES,M,4
33,2352,59730,26090.0,192,4,YES,13,1,464.0,YES,2200,1250.0,80,YES,YES,M,4
161,1085,23320,42910.0,110,6,YES,16,1,479.0,YES,2200,1250.0,80,YES,YES,M,4
314,8,18880,68390.0,90,5,YES,18,1,588.0,YES,2200,NaN,210,YES,YES,M,4
361,509,22480,125480.0,110,4,YES,18,1,478.0,YES,2200,1250.0,270,YES,YES,M,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5021,1166,15550,174080.0,192,1,YES,37,2,390.0,YES,2200,1250.0,80,YES,YES,M,4
5051,633,15220,204330.0,192,3,YES,39,2,544.0,YES,2200,1250.0,210,YES,YES,M,4
5108,2427,15270,209210.0,110,4,YES,40,2,507.0,YES,2200,1250.0,210,YES,YES,M,4
5115,1857,14970,190620.0,90,5,YES,40,2,591.0,YES,2200,1250.0,80,YES,YES,M,4
5148,4922,13510,192090.0,70,3,YES,39,2,472.0,YES,2200,1195.0,210,YES,YES,M,4

In [90]:
import pandas as pd 
import numpy as np

In [91]:
dk =  pd.read_csv('khanchidata.csv', na_values='')
dk
dk_len = len(dk)
print(dk_len)

64

In [92]:
dk_all_none = dk[(dk['Environmental'].str.lower() != 'y') & (dk['Food'].str.lower()!='y') & (dk['Drug'].str.lower()!='y')]
dk_all_none
dk_all_none_len = len(dk_all_none)
print(dk_all_none_len)

0

In [93]:
dk_all_y = dk[(dk['Environmental'].str.lower() == 'y') & (dk['Food'].str.lower()=='y') & (dk['Drug'].str.lower()=='y')]
dk_all_y
dk_all_y_len = len(dk_all_y)
print(dk_all_y_len)

1

In [94]:
dk_env_int_food =dk[(dk['Environmental'].str.lower() == 'y') & (dk['Food'].str.lower()=='y')]
dk_env_int_food
dk_env_int_food_len = len(dk_env_int_food)
print(dk_env_int_food_len)

2

In [95]:
dk_env_int_drug =dk[(dk['Environmental'].str.lower() == 'y') & (dk['Drug'].str.lower()=='y')]
dk_env_int_drug
print(len(dk_env_int_drug))
dk_env_int_drug_len = len(dk_env_int_drug)

12

In [96]:
dk_food_int_drug =dk[(dk['Food'].str.lower() == 'y') & (dk['Drug'].str.lower()=='y')]
dk_food_int_drug
print(len(dk_food_int_drug))
dk_food_int_drug_len = len(dk_food_int_drug)

4

In [97]:
dk_food =dk[(dk['Food'].str.lower() == 'y') ]
dk_food_len = len(dk_food)
print(dk_food_len)

6

In [87]:
dk_drug =dk[(dk['Drug'].str.lower() == 'y') ]
dk_drug_len = len(dk_drug)

print(dk_drug_len)

36

In [98]:
dk_env =dk[(dk['Environmental'].str.lower() == 'y') ]
dk_env_len = len(dk_env)

print(dk_env_len)

39

In [111]:
correction = dk_env_len - dk_env_int_drug_len - dk_env_int_food_len - dk_all_y_len + dk_env_int_drug_len + dk_env_int_food_len\
+ dk_food_len - dk_food_int_drug_len - dk_env_int_food_len - dk_all_y_len + dk_food_int_drug_len + dk_env_int_food_len\
+ dk_drug_len - dk_food_int_drug_len - dk_env_int_drug_len - dk_all_y_len + dk_food_int_drug_len + dk_env_int_drug_len + dk_all_y_len
correction

79

In [112]:
dk_env_len, dk_env_int_drug_len, dk_env_int_food_len, dk_all_y_len

(39, 12, 2, 1)

In [113]:
dk_food_len, dk_food_int_drug_len, dk_env_int_food_len, dk_all_y_len

(6, 4, 2, 1)

In [114]:
dk_drug_len, dk_food_int_drug_len, dk_env_int_drug_len, dk_all_y_len

(36, 4, 12, 1)

In [115]:
dk_env_len + dk_env_int_drug_len + dk_env_int_food_len - dk_all_y_len*2 + dk_food_len + dk_food_int_drug_len + dk_env_int_food_len - 2* dk_all_y_len + dk_drug_len + dk_food_int_drug_len + dk_env_int_drug_len -2* dk_all_y_len

111