In [1]:
import pandas as pd
import numpy as np

In [10]:
tem_city = pd.read_csv('tempcity.csv')
tem_city.columns = ['city', 'season', 'temperature']
tem_city

       city  season  temperature
0   newyork  spring           21
1   newyork  summer           30
2   newyork    fall           19
3   newyork  winter           -5
4   toronto  spring           15
5   toronto  summer           28
6   toronto    fall            9
7   toronto  winter          -10
8     tokyo  spring           18
9     tokyo  summer           27
10    tokyo    fall           11
11    tokyo  winter           -2

In [11]:
tem_city.pivot(index='city', columns='season', values='temperature')

season   fall  spring  summer  winter
city
newyork    19      21      30      -5
tokyo      11      18      27      -2
toronto     9      15      28     -10

In [12]:
# show how stack() works
symbols=['stock1', 'stock2', 'stock3']
time=['day1','day2']
pricedata=[[11.3, 9.3, 20.5], [11.8, 9.8, 19.3]]
df = pd.DataFrame(pricedata, index=time, columns=symbols)
df

      stock1  stock2  stock3
day1    11.3     9.3    20.5
day2    11.8     9.8    19.3

In [13]:
df.stack()

day1  stock1    11.3
      stock2     9.3
      stock3    20.5
day2  stock1    11.8
      stock2     9.8
      stock3    19.3
dtype: float64

In [14]:
# we show how to exchange row and column using stack and unstack methods
symbols=['stock1', 'stock2', 'stock3']
time=['day1','day2']
pricedata=[[11.3, 9.3, 20.5], [11.8, 9.8, 19.3]]
stockprice =pd.DataFrame(pricedata, columns=symbols, index=time)
print (stockprice)

stockpricest=stockprice.stack()
stockpricest

      stock1  stock2  stock3
day1    11.3     9.3    20.5
day2    11.8     9.8    19.3

day1  stock1    11.3
      stock2     9.3
      stock3    20.5
day2  stock1    11.8
      stock2     9.8
      stock3    19.3
dtype: float64

In [18]:
 # the level=0 represents the first index: day1, day2...
X = stockpricest.unstack(level=0)
X

        day1  day2
stock1  11.3  11.8
stock2   9.3   9.8
stock3  20.5  19.3

In [19]:
 # # the level=1 represents the second index: stock1, stock2.
Y = stockpricest.unstack(level=1)
Y

      stock1  stock2  stock3
day1    11.3     9.3    20.5
day2    11.8     9.8    19.3