In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv('tempcity.csv')
df

          c       s   t
0   newyork  spring  21
1   newyork  summer  30
2   newyork    fall  19
3   newyork  winter  -5
4   toronto  spring  15
5   toronto  summer  28
6   toronto    fall   9
7   toronto  winter -10
8     tokyo  spring  18
9     tokyo  summer  27
10    tokyo    fall  11
11    tokyo  winter  -2

In [8]:
df1 = df.pivot(index='c', columns='s', values='t')
df1

s        fall  spring  summer  winter
c
newyork    19      21      30      -5
tokyo      11      18      27      -2
toronto     9      15      28     -10

In [20]:
stocks = ['stock1', 'stock2', 'stock3']
times = ['day1','day2']
price = [[1,2,3],[1,4,6]]
df = pd.DataFrame(price, columns=stocks, index=times)
print(df)
df.stack()

      stock1  stock2  stock3
day1       1       2       3
day2       1       4       6

day1  stock1    1
      stock2    2
      stock3    3
day2  stock1    1
      stock2    4
      stock3    6
dtype: int64

In [21]:
stocks = ['stock1', 'stock2', 'stock3']
times = ['day1','day2']
price = [[1,2,3],[1,4,6]]
df = pd.DataFrame(price, columns=stocks, index=times)
df.stack()

day1  stock1    1
      stock2    2
      stock3    3
day2  stock1    1
      stock2    4
      stock3    6
dtype: int64

In [22]:
df

      stock1  stock2  stock3
day1       1       2       3
day2       1       4       6

In [24]:
X = df.unstack(level=0)
X

stock1  day1    1
        day2    1
stock2  day1    2
        day2    4
stock3  day1    3
        day2    6
dtype: int64

In [26]:
Y = df.unstack(level=1)
Y

stock1  day1    1
        day2    1
stock2  day1    2
        day2    4
stock3  day1    3
        day2    6
dtype: int64

In [33]:
stocks = ['time','stock1', 'stock2', 'stock3']
#times = ['day1','day2']
pricedata = [['day1',1,2,3],['day2',1,4,6]]
stockprice = pd.DataFrame(pricedata,columns=stocks)
stockprice

   time  stock1  stock2  stock3
0  day1       1       2       3
1  day2       1       4       6

In [34]:
X = pd.melt(stockprice, id_vars=['time'], value_vars=['stock1','stock2', 'stock3'])
X

   time variable  value
0  day1   stock1      1
1  day2   stock1      1
2  day1   stock2      2
3  day2   stock2      4
4  day1   stock3      3
5  day2   stock3      6

In [35]:
X.pivot(index='variable', columns='time', values='value').reset_index()

time variable  day1  day2
0      stock1     1     1
1      stock2     2     4
2      stock3     3     6

In [37]:
Z = X.set_index(['time', 'variable'])
Z

               value
time variable
day1 stock1        1
day2 stock1        1
day1 stock2        2
day2 stock2        4
day1 stock3        3
day2 stock3        6

In [38]:
Z.unstack(level=1)

          value
variable stock1 stock2 stock3
time
day1          1      2      3
day2          1      4      6

In [39]:
Z.unstack(level=0).reset_index()

     variable value
time           day1 day2
0      stock1     1    1
1      stock2     2    4
2      stock3     3    6