Q2) List the Collection Data Types in Python. Write Python code to solve the
following questions:

a) Place the numbers 79, 88, 99, ‘John’, ’Mary’, ’David’ into a tuple – ‘T’ and list – ‘L’ respectively, and print the contents and data type of two objects. In addition, state the difference (by usage) between tuple and list.

In [4]:
T = (79, 88, 99, 'John', 'Mary', 'David')
L = list(T)
print("T == ", T , "and its data type == ", type(T))
print("L == ", L , "and its data type == ", type(L))

T ==  (79, 88, 99, 'John', 'Mary', 'David') and its data type ==  <class 'tuple'>
L ==  [79, 88, 99, 'John', 'Mary', 'David'] and its data type ==  <class 'list'>

b) Return the length of the list ‘L’ and print the result. What does L[1:3] stand for?

In [5]:
print(len(T))
print(L[1:3]) #should print  88 and 99

6
[88, 99]

c) Create a sub-list ‘SL’ containing only numeric elements from the tuple ‘T, and
calculate and print the maximum value of those numbers.

In [19]:
SL = [i for i in T if isinstance(i,(int,float))]
SL

[79, 88, 99]

In [20]:
print(max(SL))

99

d) Create a list ‘SLS’ by sorting (descending order) the elements in the list ‘SL’.

In [21]:
SLS = sorted(SL, reverse=True)
SLS

[99, 88, 79]

e) Write Python codes to create the following list
[“John’s mark is 79”, “David’s mark is 99”, “Mary’s mark is 88”]

In [53]:
L = [ "John's mark is 79", "David's mark is 99", "Mary's mark is 88"]
L

["John's mark is 79", "David's mark is 99", "Mary's mark is 88"]

f) Perform the following operations on the list object ‘L’
(1) Change the value from 99 to 90 and from ‘David’ to ‘Minko’.

In [54]:
L[1] = L[1].replace('David', 'Minko')
L[1] = L[1].replace('99', '90')
L

["John's mark is 79", "Minko's mark is 90", "Mary's mark is 88"]

(2) Delete the element 79 and ‘John’.

In [55]:
L[0] = L[0].replace('79', '')
L[0] = L[0].replace('John', '')
L

["'s mark is ", "Minko's mark is 90", "Mary's mark is 88"]


(3) Insert a new element 92 at the first position and ‘Lucy’ at the fourth position in
the list after the operation in (2).

In [56]:
L.insert(0,'92')
L.append('Lucy')
L

['92', "'s mark is ", "Minko's mark is 90", "Mary's mark is 88", 'Lucy']

(4) Show (print and state) the difference between L.insert (2, [77, 78]) and
L.extend(2, [77, 78]).

In [59]:
L_insert = L[:]
L_insert.insert(2, [77, 78])
print(L_insert)

['92', "'s mark is ", [77, 78], "Minko's mark is 90", "Mary's mark is 88", 'Lucy']

In [61]:
L_extend = L[:]
L_extend.extend((2, [77, 78]))
L_extend

['92',
 "'s mark is ",
 "Minko's mark is 90",
 "Mary's mark is 88",
 'Lucy',
 2,
 [77, 78]]

(5) Can we perform the same operations on the tuple ‘T’? Why?
Ans --> No becasue tuple are immutable

g) What is the difference (in usage) between Y=L.copy() and Z=L? Please counter
an example.
Ans --> Copies the list with copy function, Z=L copies the refrences

In [2]:
print()

Q3) Create a list ‘X’ including the following numbers 1, 2, 3, .., 10
a) Using Python code to calculate the ‘sum’ of these sequential numbers in ‘X’.

In [2]:
X = [i for i in range(1,11)]
print(sum(X))

55

b) Convert the tuple in a) to a string object by CHAR-concatenating of all numeric
elements.

In [7]:
s =""
concat = [str(i) for i in range(1,11)]
y = s.join(concat)
y

'12345678910'

c) Use the List function ‘zip()’ to pair list, i.e. create a new list object ‘P’ in the
following form

In [15]:
abc = "abcdefghij"
str_list = [i for i in abc]
str_list
P = list(zip(str_list, X))
print(P)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5), ('f', 6), ('g', 7), ('h', 8), ('i', 9), ('j', 10)]

d) Use List Comprehension method to create a list Y= (10, 20,…, 100). Then pair X
and Y to create a new list ‘Z’.

In [20]:
Y = [i for i in range(10,101,10)]
Z = list(zip(X,Y))
Z

[(1, 10),
 (2, 20),
 (3, 30),
 (4, 40),
 (5, 50),
 (6, 60),
 (7, 70),
 (8, 80),
 (9, 90),
 (10, 100)]

Q4) Split the following string (separated by the semicolon ‘:’ ) into a new List
‘200:is:a:large:number’, then concatenate item in list to a string variable
separated by ‘-‘ (using join() function).

In [26]:
s = "200;is;a;large;number"
s_new = s.replace(";",":")
s_new = s_new.split(":")
s_new = "-".join(s_new)
s_new

'200-is-a-large-number'

Q5) Create a dictionary object ‘D’ using the key:value -> word:count. It contains
the following elements:
Word Count
Give 3
Receive 5
Random 2
Good 1
a) Print the dictionary ‘D’ and its data type.

In [50]:
D = {'Give':3, 'Receive':5, 'Random':2, 'Good':1}
print(D, type(D))

{'Give': 3, 'Receive': 5, 'Random': 2, 'Good': 1} <class 'dict'>

b) Change the second item’s value to 5 (from 7).

In [43]:
D['Receive'] = 7
D

{'Give': 3, 'Receive': 7, 'Random': 2, 'Good': 1}

c) Create a list ‘key’ containing the keys of the Dictionary ‘D’, and a list ‘value’
containing the values for each key.

In [44]:
list_key = list(D.keys())
list_value = list(D.values())
print(list_key, list_value)

['Give', 'Receive', 'Random', 'Good'] [3, 7, 2, 1]

d) Copy ‘D’ to get a new dictionary ‘D1’ and delete the third item from ‘D1’.

In [51]:
D1 = D.copy()
D1.pop('Random')
D1

{'Give': 3, 'Receive': 5, 'Good': 1}

Q6) Write Python codes (use Python control flow) to count the frequency of each
word in the following string ‘reading is not difficult for you; the difficult part is to
understand your reading’.

In [2]:
s = 'reading is not difficult for you; the difficult part is to understand your reading'
s_list = s.split(' ')
s_unique = set(s_list)
#print(s_unique)
x = [(i,s_list.count(i)) for i in s_unique]
x

[('is', 2),
 ('difficult', 2),
 ('the', 1),
 ('reading', 2),
 ('for', 1),
 ('understand', 1),
 ('you;', 1),
 ('part', 1),
 ('your', 1),
 ('to', 1),
 ('not', 1)]

In [3]:
## easier solution
from collections import Counter
x = Counter(s_list)
x

Counter({'reading': 2,
         'is': 2,
         'not': 1,
         'difficult': 2,
         'for': 1,
         'you;': 1,
         'the': 1,
         'part': 1,
         'to': 1,
         'understand': 1,
         'your': 1})