In [2]:
import pandas as pd
import numpy as np
X = pd.DataFrame([pd.Series([0,-2,7,3]), pd.Series([0,0,1,-3])])
X

   0  1  2  3
0  0 -2  7  3
1  0  0  1 -3

In [3]:
Y = pd.DataFrame(np.array([range(1,5), [0,1,2,0]]))
Y

   0  1  2  3
0  1  2  3  4
1  0  1  2  0

In [4]:
Z = pd.DataFrame(np.array([[0,0,1,8],[6,1,0,0]]), columns=['c1', 'c2', 'c3', 'c4'])
Z

   c1  c2  c3  c4
0   0   0   1   8
1   6   1   0   0

In [17]:
records =[['John', 'Watson', 'M', 30], ['Praksh','Bhatta', 'M', 29], ['Sadichha','Sitaula', 'F', 30]]
titles = ['First Name', 'Last Name', 'Sex', 'Age']
X = pd.DataFrame(records, columns=titles)
print(X)
print(X.T)
print(X.shape)
print(X.ndim)
print(X.size)
print(len(X))

  First Name Last Name Sex  Age
0       John    Watson   M   30
1     Praksh    Bhatta   M   29
2   Sadichha   Sitaula   F   30
                 0       1         2
First Name    John  Praksh  Sadichha
Last Name   Watson  Bhatta   Sitaula
Sex              M       M         F
Age             30      29        30
(3, 4)
2
12
3

In [19]:
X.values

array([['John', 'Watson', 'M', 30],
       ['Praksh', 'Bhatta', 'M', 29],
       ['Sadichha', 'Sitaula', 'F', 30]], dtype=object)

In [21]:
X.columns

Index(['First Name', 'Last Name', 'Sex', 'Age'], dtype='object')

In [22]:
[X.columns[0], X.columns[1], X.columns[2]]

['First Name', 'Last Name', 'Sex']

In [23]:
X.index

RangeIndex(start=0, stop=3, step=1)

In [24]:
X.axes[0]

RangeIndex(start=0, stop=3, step=1)

In [25]:
X.axes[1]

Index(['First Name', 'Last Name', 'Sex', 'Age'], dtype='object')

In [6]:
X = np.arange(1,5)
Y = ['A', 'B', 'C', 'D']
Z = ['True', 'False', 'True', 'False']
R = np.random.random(size=4)
df1 = pd.DataFrame({'col1':X, 'col2':Y, 'col3':Z, 'col4':R})
df1

   col1 col2   col3      col4
0     1    A   True  0.461472
1     2    B  False  0.849551
2     3    C   True  0.470281
3     4    D  False  0.448493

In [7]:
df2 = pd.DataFrame([X, Y, Z, R], index=['key1', 'key2', 'key3', 'key4'])
df2

             0         1         2         3
key1         1         2         3         4
key2         A         B         C         D
key3      True     False      True     False
key4  0.461472  0.849551  0.470281  0.448493

In [8]:
df3 = pd.DataFrame({'col1':X, 'col2':Y, 'col3':Z, 'col4':R},index=['key1', 'key2', 'key3', 'key4'] )
df3

      col1 col2   col3      col4
key1     1    A   True  0.461472
key2     2    B  False  0.849551
key3     3    C   True  0.470281
key4     4    D  False  0.448493