In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('demograhics.csv',  encoding = 'latin1', na_values='NA')
df.shape

(20020, 19)

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,COUNTYID,state,city,UID,longitude,lng,num_population,male_num,female_num,rent_median,mortgage,debt,married,separated,divorced,age,edu_degree
0,0,25827,81,New York,Elmhurst,269390,40.731128,-73.883353,4980,2575,2405,1498.0,2446.0,0.48038,0.56122,0.01020,0.06173,37.47423,0.74821
1,1,7304,3,Delaware,Wilmington,234249,39.752706,-75.529007,3076,1494,1582,1076.0,1131.0,0.82879,0.27226,0.01642,0.09594,33.74497,0.83474
2,2,15008,29,Louisiana,Vidalia,248842,31.572841,-91.435492,4474,2040,2434,543.0,925.0,0.37132,0.57276,0.03358,0.04851,36.56166,0.82226
3,3,38696,3,West Virginia,Martinsburg,293731,39.451434,-77.978764,5909,2794,3115,766.0,1177.0,0.65087,0.44439,0.06826,0.10883,34.50951,0.79494
4,4,21220,93,North Carolina,Raeford,260525,35.037647,-79.353421,5348,3141,2207,802.0,1041.0,0.61479,0.49577,0.07038,0.12846,37.47714,0.81386

In [3]:
df.shape

(20020, 19)

In [4]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'COUNTYID', 'state', 'city', 'UID',
       'longitude', 'lng', 'num_population', 'male_num', 'female_num',
       'rent_median', 'mortgage', 'debt', 'married', 'separated', 'divorced',
       'age', 'edu_degree'],
      dtype='object')

In [5]:
#basically i am trying to load the data and trying to find if i can choose any column to make an index to check 
#if there are any duplicates
#lets see if the number of rows have teh number of cities with no NA values
nonmiss_cities = df['city'].count()
nonmiss_cities
# no and cities seems to be as equal with the row

20020

In [7]:
# lets check the unique city 
len(set(df.city))

5901

In [8]:
unique_city = len(df.city.unique())
unique_city

5901

In [9]:
#duplicates 
z = nonmiss_cities - unique_city
z

14119